.promotion-form_group{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.promotion-form_group label{
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  margin-bottom: 8px;
}
.promotion-form_group input{
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #fff;
  height: 36px;
  padding: 0 10px;
}
.promotion-form_group:nth-child(4) input{
  width: 154px;
}